<div class="page-header">
    <h2>Issue Details</h2>
</div>

<div id="issue-info" class="row">
    <div class="col-md-6">
        <a href="#issues/edit/{{currentIssue.Id}}" class="btn btn-warning" ng-if="isAdmin() || isLeadOfProject" role="button">
          Edit Issue
        </a>
        <a href="#projects/{{currentIssue.Project.Id}}" class="btn btn-info" role="button">
          Back to project
        </a>
        <p>
          <strong>Title: </strong>{{currentIssue.Title}}
          <strong>IssueKey: </strong>{{currentIssue.IssueKey}}
        </p>
        <p><strong>Description: </strong>{{currentIssue.Description}}</p>
        <p><strong>Assignee: </strong>{{currentIssue.Assignee.Username}}</p>
        <p><strong>Priority: </strong>{{currentIssue.Priority.Name}}</p>
        <p><strong>DueDate: </strong>{{currentIssue.DueDate | date}}</p>
        <p><strong>Author: </strong>{{currentIssue.Author.Username}}</p>
        <p><strong>Project: </strong>{{currentIssue.Project.Name}}</p>
        <p><strong>Status: </strong>{{currentIssue.Status.Name}}</p>
        <p><strong>Labels: </strong>{{currentIssueLabels.join(', ')}}</p>
    </div>
    <div class="col-md-6">
        <ul class="status"  ng-if="currentIssue.AvailableStatuses.length !== 0">
            <strong>Available Statuses:</strong>
            <li ng-repeat="status in currentIssue.AvailableStatuses">-----{{status.Name}}
                <button ng-click="changeStatus(status.Id)" ng-if="isAssignee || isLeadOfProject || isAdmin()" class="btn btn-success" role="button">
                    Change
                </button>
            </li>
        </ul>
        <div ng-issue-comments></div>
        <div ng-issue-comment-form></div>
    </div>
</div>
