<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Issue Tracking System</a>
    </div>
    <ul class="nav navbar-nav" ng-if="isAuthenticated()">
        <li class="contour">
          <a href="#/" class="text-center">
            <span class="glyphicon glyphicon-th-list"></span> Dashboard
          </a>
        </li>
        <li class="contour">
          <a href="#/projects/my" class="text-center">
            <span class="glyphicon glyphicon-file"></span> My projects
          </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-if="isAuthenticated()">
        <li class="contour">
          <a href="#/profile/password" class="text-center">
            <span class="glyphicon glyphicon-wrench"></span> Change password
          </a>
        </li>
        <li ng-click="logout()" class="contour">
          <a href="#/logout" class="text-center"><span class="glyphicon glyphicon-log-out"></span> Logout
          </a>
        </li>
    </ul>
</nav>
